@model CRMIMMO.Models.Contrat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contrat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.cin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.cin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idImmobilier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idImmobilier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientcin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientcin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datecontrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datecontrat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idcontrat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
