@model IEnumerable<CRMIMMO.Models.Contrat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.cin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idImmobilier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientcin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datecontrat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.cin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idImmobilier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientcin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datecontrat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idcontrat }) |
            @Html.ActionLink("Details", "Details", new { id=item.idcontrat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idcontrat })
        </td>
    </tr>
}

</table>
