@model IEnumerable<CRMIMMO.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datadenaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numtele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datadenaissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numtele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })
        </td>
    </tr>
}

</table>
